<div class="sidenav">

    <img src="assets/logoU.png" id="uPicture">

    <img src="assets/librarian.png" id="profilePicture">

    <h2>BiblioJave</h2>

    <a routerLink="/addBook" routerLinkActive="active" ariaCurrentWhenActive="page" >Add Book</a>
    <a routerLink="/bookList" routerLinkActive="active"  ariaCurrentWhenActive="page">Book List</a>
    <a routerLink="/lendBook" routerLinkActive="active" ariaCurrentWhenActive="page" >Lend Book</a>
    <a routerLink="/returnBook" routerLinkActive="active" ariaCurrentWhenActive="page" >Return Book</a>
    <a routerLink="/returnHistory" routerLinkActive="active" ariaCurrentWhenActive="page" >Return History</a>

    <p>©Copyright 2022 by Diana Carrillo & Sebastian Vargas All rights reversed.</p>


</div>
